# Ignore the default container config directories
config/**

# Ignore "secrets"
secrets/**

# Ignore Logs
logs
*.log

# The file containing environment variables 
.env

# Caddy "users"
caddy/users.json

# Keep .gitkeep enabled directories (empty)
!.gitkeep
